* {
    user-select: none;
}

::slotted(*) {
    display: inline-block;
    margin-left: 20px;
}

[selected] {
    background-color: var(--primary-selection-color);   
}

[draggable] {
}

summary {
    outline: none;
}

#title {
    display: inline-flex;
}

#name {
    outline: none;
    min-width: 20px;
}

#menu {
    position: absolute;
    right: 0;
}

#highlight {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}