* {
    user-select: none;
}

[selected] {
    background-color: var(--primary-selection-color);
}

summary {
    position: relative;
    outline: none;
    width: 21px;
}

.summary-hack {
    position: absolute;
    width: 100%; 
}

.title { 
    display: flex;
    justify-content: space-between;
}

.name {
    outline: none;
}

.icon {
    font-size: 0.95em;
}