* { 
    user-select: none; 
}

[selected] { 
    background-color: var(--primary-selection-color); 
}

summary { 
    position: relative; 
    outline: none;
    width: 21px;
}

.title { 
    display: flex; 
    justify-content: space-between;
}

.name {
    outline: none;
}

.icon {
    font-size: 0.95em;
}

.container { 
    position: absolute; 
    width: 100%; 
}